body{
    background-image:url("../Home/11876835.jpg");
    background-repeat:no-repeat;
    background-size:100% 3000px;
    /*width: 100px;*/
    
}

h1{
    color:#22c522;
    text-align: center;
    font-weight:bold;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
    
}

#theFirstone{
    background-color:#22c522
}

#header{
     text-shadow: 2px 2px blue;
     
}

#motto{
    color:#22c522;
    text-align: center;
    font-weight:bold;
    text-shadow: 2px 2px blue;
    
}
.jumbotron {
   background: rgba(65, 105, 225, 0.3); 
}
#Header{
     color:#22c522;
     text-shadow: 2px 2px blue;
     
}
#Content{
     color: rgba(216, 236, 20, 0.9);
     text-shadow: 2px 2px blue;
}
.form-control {
    background:rgba(0, 0, 0, 0.6);
    border: 2px solid limegreen;
}

label{
    text-shadow: 2px 2px white;
     ;
}
input:focus, select, textarea{
    color: #228B22;
}

textarea:focus, input:focus {
    color: #228B22 ;
}

.classy{
    text-align:center;  
    color:black;
}
.normals{
     color:#22c522;
    text-align: center;
    font-weight:bold;
}

margin{
     left:250px;
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}
.navbar-brand {
  background: url(http://disputebills.com/site/uploads/2015/10/dispute.png) center / contain no-repeat;
  width: 200px;
}
